h1{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.operatorSelector{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}